@model Pnw.Web.Models.BootstrapVm

<div>
    <div data-ng-include="'/app/layout/shell.html'"></div>
    <div id="splash-page" data-ng-show="false">
        <div class="page-splash">
            <div class="page-splash-message">
                Pnw
            </div>
            <div class="progress progress-striped active page-progress-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>

<span data-cc-scroll-to-top></span>

<!-- Vendor Scripts -->
<script src="~/scripts/jquery-2.0.3.js"></script>
<script src="~/scripts/angular.js"></script>
<script src="~/scripts/angular-animate.js"></script>
<script src="~/scripts/angular-route.js"></script>
<script src="~/scripts/angular-sanitize.js"></script>
<script src="~/scripts/bootstrap.js"></script>
<script src="~/scripts/toastr.js"></script>
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/ui-bootstrap-tpls-0.7.0.js"></script>
<script src="~/scripts/spin.js"></script>
<script src="~/scripts/q.js"></script>
<script src="~/scripts/breeze.debug.js"></script>
<script src="~/scripts/breeze.directives.validation.js"></script>
<script src="~/scripts/breeze.to$q.js"></script>
<script src="~/scripts/breeze.saveErrorExtensions.js"></script>
<script src="~/scripts/angular.breeze.storagewip.js"></script>

<!-- Bootstrapping -->
<script src="~/app/app.js"></script>
<script src="~/app/config.js"></script>
<script src="~/app/config.exceptionHandler.js"></script>
<script src="~/app/config.route.js"></script>

@section script
{
    <script type="text/javascript">
        //console.log(@Html.Raw(Model.UserJSON));
        angular.module('app').factory('bootstrappedData', function() {
            var data = {
                defaultLeague: @Html.Raw(Model.DefaultLeagueJSON),
                defaultSeason: @Html.Raw(Model.DefaultSeasonJSON),
                currentDate: @Html.Raw(Model.CurrentDateJson),
                user: @Html.Raw(Model.UserJSON)
                };
            data.user.isAuthenticated = @Html.Raw(Model.IsUserAuthenticatedJson);
            return data;
        });
    </Script>
}

<!-- common Modules -->
<script src="~/app/common/common.js"></script>
<script src="~/app/common/logger.js"></script>
<script src="~/app/common/spinner.js"></script>

<!-- common.bootstrap Modules -->
<script src="~/app/common/bootstrap/bootstrap.dialog.js"></script>

<!-- app -->
<script src="~/app/layout/shell.js"></script>
<script src="~/app/layout/sidebar.js"></script>

<!-- app Services -->
<script src="~/app/services/datacontext.js"></script>
<script src="~/app/services/directives.js"></script>
<script src="~/app/services/entityManagerFactory.js"></script>
<script src="~/app/services/model.js"></script>
<script src="~/app/services/model.validation.js"></script>
<script src="~/app/services/routemediator.js"></script>
<script src="~/app/services/repositories.js"></script>
<script src="~/app/services/repository.abstract.js"></script>
<script src="~/app/services/repository.league.js"></script>
<script src="~/app/services/repository.season.js"></script>
<script src="~/app/services/repository.team.js"></script>
<script src="~/app/services/repository.fixture.js"></script>
<script src="~/app/services/repository.prediction.js"></script>
<script src="~/app/services/repository.leaderboard.js"></script>
<script src="~/app/services/cache.js"></script>
<script src="~/app/services/helper.js"></script>

<script src="~/app/fixture/fixtures.js"></script>
<script src="~/app/predict/predictions.js"></script>
<script src="~/app/leaderboard/leaderboard.js"></script>
